accelerate~=0.18.0
bitsandbytes==0.35.4
dadaptation~=1.5.0
diffusers~=0.14.0
discord-webhook~=1.1.0
fastapi~=0.94.1
gitpython~=3.1.31
lion-pytorch~=0.0.7
Pillow~=9.4.0
tqdm~=4.64.1
transformers~=4.26.1  # > 4.26.x causes issues (db extension #1110)

# Tensor
tensorboard==2.12.0; sys_platform != 'darwin' or platform_machine != 'arm64'
tensorflow==2.12.0; sys_platform != 'darwin' or platform_machine != 'arm64'

# Tensor MacOS
# Note: Major and Minor versions of tensorboard & tensorflow must match
tensorboard==2.11.2; sys_platform == 'darwin' and platform_machine == 'arm64'
tensorflow-macos==2.11.0; sys_platform == 'darwin' and platform_machine == 'arm64'
tensorflow-metal==0.7.1; sys_platform == 'darwin' and platform_machine == 'arm64'