accelerate~=0.21.0
bitsandbytes==0.35.4
dadaptation==3.1
diffusers~=0.19.3
discord-webhook~=1.1.0
fastapi~=0.94.1
gitpython~=3.1.31
lion-pytorch~=0.1.2
Pillow==9.5.0
tqdm==4.65.0
tomesd~=0.1.2
transformers~=4.30.1  # > 4.26.x causes issues (db extension #1110)

# Tensor
tensorboard==2.13.0; sys_platform != 'darwin' or platform_machine != 'arm64'
# Tensor MacOS
tensorboard==2.11.2; sys_platform == 'darwin' and platform_machine == 'arm64'
