#db_progressbar {
  position: absolute;
  z-index: 1000;
  right: 0;
  padding-left: 5px;
  padding-right: 5px;
  display: block;
}

#db_progress_row {
  margin-bottom: 10px;
  margin-top: -18px;
}


#refresh_db_models, #refresh_lora_models, #refresh_sd_models {
    margin-top: 0.75em;
    max-width: 2.5em;
    min-width: 2.5em;
    height: 2.4em;
}

.hh {
    font-size: 20px
}

#db_cancel {
    display: none;
}

#db_preview {
    position: absolute;
    width: 320px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 85px;
    z-index: 100;
    border: none;
    border-radius: 5px;
}

@media screen and (min-width: 768px) {
    #db_preview {
        position: absolute;
    }
}

@media screen and (max-width: 767px) {
    #db_preview {
        position: relative;
    }
}

#db_preview div.left-0.top-0{
    display: none;
}
