#db_progressbar {
    z-index: 1000;
    right: 0;
    bottom: -10px;
    padding-right: 5px;
    display: block;
    max-height: 20px;
}

button:disabled, input:disabled {
    background: #4444 !important;
    color: #6666 !important;
    border: 1px #6666 solid !important;
    pointer-events: none;
}

.\!cursor-not-allowed, .\!cursor-not-allowed > span, .\!cursor-not-allowed > option {
    color: #6666 !important;
    border: 1px #6666 solid !important;
    pointer-events: none;
}

#hint_row {
    text-align: center;
    font-size: 22px;
}


#change_modal {
    display: none;
}

#modal_title {
    height: 20px;
    min-height: 36px;
    font-size: 1.5rem;
    text-align: center;
}

.commitDiv {
    border: 1px grey solid;
}

#change_modal.active {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    min-width: 50vw;
    max-width: 75vw;
    margin: 0 auto;
    z-index: 10000;
    border: 1px solid white;
    overflow-y: scroll;
    overflow-x: hidden;
}

#modal_notes * {
    color: blue;
    text-align: center;
    text-decoration: underline;
}


#close_modal {
    min-width: 10px;
    max-width: 10px;
    min-height: 10px;
    max-height: 35px;
    position: absolute;
    right: 11px;
}


#change_log {

}

.changeTitle {

}

.changeSpan {

}

.min-h-\[6rem\] {
    min-height: 0 !important;
}

#db_progress_row {
    margin-bottom: 10px;
    margin-top: -18px;
}

#db_prompt_list {
    display: none !important;
}

#db_gallery_prompt {
    text-align: center;
}

.gr-form.overflow-hidden {

}

#refresh_db_models, #refresh_lora_models, #refresh_sd_models, #refresh_secret, #clear_secret, #ui_check_progress_initial {
    margin-top: 0.75em;
    max-width: 2.5em;
    min-width: 2.5em;
    height: 2.4em;
}

#ui_check_progress_initial {
    position: absolute;
    top: -3px;
    right: 10px;
}

#db_gen_ckpt_during, #db_train_sample {
    display: none;
}

.hh {
    font-size: 20px
}

#db_cancel {
    display: none;
}

#db_preview {
    position: absolute;
    width: 320px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 10px;
    z-index: 100;
    border-radius: 25px;
}

@media screen and (min-width: 768px) {
    #db_preview {
        position: absolute;
    }
}

@media screen and (max-width: 767px) {
    #db_preview {
        position: relative;
    }
}

#db_preview div.left-0.top-0 {
    display: none;
}
