#db_progressbar {
  z-index: 1000;
  right: 0;
  bottom: -10px;
  padding-left: 5px;
  padding-right: 5px;
  display: block;
}

#db_progress_row {
  margin-bottom: 10px;
  margin-top: -18px;
}

#db_prompt_list {
    display: none !important;
}

#refresh_db_models, #refresh_lora_models, #refresh_sd_models, #refresh_secret, #clear_secret, #db_check_progress_initial {
    margin-top: 0.75em;
    max-width: 2.5em;
    min-width: 2.5em;
    height: 2.4em;
}

#db_check_progress_initial {
    position: absolute;
    top: 0px;
    right: 10px;
}

#db_gen_ckpt_during, #db_train_sample {
    display: none;
}

.hh {
    font-size: 20px
}

#db_cancel {
    display: none;
}

#db_preview {
    position: absolute;
    width: 320px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 10px;
    z-index: 100;
    border-radius: 25px;
}

@media screen and (min-width: 768px) {
    #db_preview {
        position: absolute;
    }
}

@media screen and (max-width: 767px) {
    #db_preview {
        position: relative;
    }
}

#db_preview div.left-0.top-0{
    display: none;
}
