#db_gallery {
    display: none !important;
}

#db_preview {
    width: 100% !important;
    height: 100% !important;
    display: block !important;
}

#refresh_db_models {
    margin-top: 0.75em;
    max-width: 2.5em;
    min-width: 2.5em;
    height: 2.4em;
}